
.cart-ctn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
 }
 .cart-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 10px;
    position: relative;
    padding-bottom: 50px;
 }
 .cart-image-ctn{
   display: flex;
  justify-content: center;
  margin-bottom: 10px;
 }
 .cart-image-ctn img{
    max-width: 100%;
    display: block;
    height: 250px;
 }
 .cart-info{
    margin-bottom: 5px;
 }
 .cart-title{
    font-size: 15px;
    font-weight: 200px;
    color: rgb(94, 92, 92);
    padding-bottom: 5px;
 }
 .cart-quantity{
   font-size: 15px;
   font-weight:500;
   color: rgb(94, 92, 92);
   padding-bottom: 5px;
 }
 .cart-offer-price{
    font-size: 15px;
    font-weight: 200px;
    color: rgb(94, 92, 92);
    text-decoration: line-through;
 }
 .cart-price{
    font-size: 18px;
    font-weight:500;
 }
 .btn{
    padding: 10px 10px;
    background-color: burlywood;
    border: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
 }
 .btn:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 }

 .cart-quantity button{
   /* padding: 1px 4px; */
   height: 20px;
   width: 20px;
   font-size: 15px;
   border: none;
   border-radius: 10px;
   background-color: burlywood;
 }
