*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 1.2em;
    padding-top: 55px;
}
a{
    text-decoration: none;
    color: black
}
 @import './styles/NavBar.css';

 .container{
    padding-inline: 10vw;
 }
 .main{
    padding-block: 3vw;
 }

 @media screen and (max-width:768px){
    .container{
        padding-inline: 6wvw;
     }
 }
 @media screen and (max-width:480px){
    .container{
        padding-inline: 3vw;
     }
     .cart-card{
        max-width: 100%;
     }
     .nav-bar{
        padding-inline: 3vw;
     }
 }
@import './styles/products.css';
@import './styles/Cart.css';
